@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&family=Urbanist:ital,wght@0,600;0,900;1,600;1,900&display=swap');
@import 'normalize.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff !important;
}
html {
}

body {
  font-family: 'Urbanist', sans-serif;
}

section {
  padding: 30px 0;
}
.sc-author {
  position: relative;
  padding: 28px 0px;
  border: 2px solid rgba(99, 69, 237, 0.1);
  border-radius: 12px;
  background-color: #343444;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  margin-bottom: 30px;
}

.sc-author.style-2 {
  position: relative;
  display: flex;
  text-align: left;
  align-items: center;
  padding: 24px 20px 22px 24px;
  margin-bottom: 30px;
  background-color: #343444;
}

.sc-author.style-2 .card-avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 0;
  flex-shrink: 0;
  border-radius: 8px;
}

/* Page Title Inner
-------------------------------------------------------------- */
.fl-page-title {
  padding: 83px 0;
  position: relative;
  background: #fff;
  background-size: cover;
}

.fl-page-title .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    130.35deg,
    rgba(99, 69, 237, 0.85) 17.35%,
    rgba(220, 57, 252, 0.85) 78.23%
  );
}

.page-title-inner {
  justify-content: space-between;
  align-items: center;
}

.page-title-heading .heading {
  color: #fff;
  letter-spacing: -2px;
}
